<!-- Header -->
<header id="header" class="header clearfix">
    <div class="header-wrap clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="logo" class="logo">
                        <a href="/">
                           AONL
                        </a>
                    </div>
                    <div class="btn-menu">
                        <span></span>
                    </div>
                    <!-- float: right; -->
                    <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="home">
                                    <a href="/" class="active">Inicio</a>
                                </li>

                                <li><a href="#about-us">Nosotros</a>
                                    <!-- <ul class="submenu">
                                        <li><a href="about.html">Overview</a></li>
                                    </ul> -->
                                </li>

                                <li><a href="#">Entrenamientos & cursos</a>
                                    <ul class="submenu">
                                        <li><a href="/gestion">Gestión del Cambio en las Organizacionesg</a></li>
                                        <li><a href="/lider">Líder- Coach Seminario Intensivo</a></li>
                                        <li><a href="/neuromarketing">Neuromarketing</a></li>
                                        <li><a href="/programa">Programa de Desarrollo de Habilidades y Competencias Estratégicas Directivas</a></li>
                                        <li><a href="/negocios">Entrenamiento Intensivo en Negociación</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contacto">Contacto </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>