<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- head -->
<%- include('./partials/head.ejs') %>


    <body class="header-sticky page-loading">

        <div class="boxed">

            <!-- header -->
            <%- include('./partials/header.ejs') %>


                <div class="flat-row flat-general sidebar-right">
                    <div class="container">
                        <div class="row">
                            <div class="flat-wrapper">
                                <div class="general">
                                    <img src="images/training/d1.jpg" alt="images">
                                    <div class="flat-divider d40px"></div>
                                    <div class="general-text">
                                        <h4 class="title">Gestión del Cambio en las Organizaciones.</h4>
                                        <p><strong>Seminario- Taller
                                </strong></p>
                                        <ul class="flat-list style1 style2">
                                            <li><strong>Duración:</strong> 8 horas
                                            </li>
                                            <li><strong>Destinatarios:</strong> Personas encargadas de liderar / implementar / acompañar procesos de cambio en las organizaciones. Interesados en la temática.
                                            </li>
                                            <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                            </li>

                                        </ul>
                                        <div class="flat-divider d30px"></div>
                                        <p><strong>Fundamentación</strong></p>
                                        <p>Ya está instalada la afirmación “lo único constante es el cambio”. Y las organizaciones son cada vez más conscientes de que su capacidad para gestionar estos movimientos es directamente en los beneficios, así como
                                            no ocuparse trae costos aparejados.</p>
                                        <p>Cuando hablamos de cambio, no nos referimos únicamente al vertiginoso avance de la tecnología y a la automatización de procesos: Los clientes cambian sus necesidades, se contratan nuevas herramientas, se selecciona
                                            un nuevo gerente para la organización, se producen recambios generacionales en las empresas familiares, se abren sucursales, se realizan mudanzas, se modifican procesos. Y cualquier decisión que altera el statu
                                            que, impacta en las personas. Y justamente son las personas las que deben producir la transformación que permitirá alcanzar los objetivos propuestos.</p>
                                        <p>El contenido de este seminario está orientado a lograr que los participantes puedan planificar y experimentar procesos de gestión del cambio que les permita identificar de antemano las posibles resistencias y lograr
                                            compromiso. Se trabajará sobre casos de la realidad de los asistentes o, en su defecto, provistos por los docentes.</p>
                                        <p>Cada tema será tratado desde Conceptos Teóricos, Ejemplos prácticos (específicos del interés del público del curso), Ejercicios individuales con elementos de la realidad laboral y la priorización de la vinculación
                                            entre los participantes.</p>
                                    </div>
                                    <div class="flat-divider d35px"></div>

                                    <ul class="flat-list style1 style2">
                                        <p><strong>Detalle de contenidos
                                </strong></p>
                                        <li><strong>La innovación en las organizaciones:</strong> Espacios, estructuras y metodologías que fomentan la innovación. Cultura organizacional: Concepto, tipologías, tendencias de liderazgo, convivencia generacional.
                                        </li>
                                        <li><strong>La gestión del cambio:</strong> Comprensión de la resistencia al cambio para transitar cada etapa hacia el logro del compromiso. Identificación de resistencias </li>
                                        <li><strong>Técnicas de implementación de cambio tradicionales vs. metodologías ágiles:</strong> Beneficios, posibilidades de aplicación.
                                        </li>
                                        <li><strong>Diagnóstico:</strong> Sondeos internos de resistencia, abordajes cualitativos, análisis de indicadores (de la información al conocimiento)
                                        </li>
                                        <li><strong>Venta interna de proyectos de cambio:</strong> Estrategias de marketing interno, técnicas de comunicación asertiva escritas y orales.
                                        </li>
                                        <li><strong>Venta interna:</strong> Exposición de los participantes (feedback de docentes y grupo).
                                        </li>
                                        <li><strong>Simulaciones de avance:</strong> sondeos, ajustes, replanificaciones, seguimiento de indicadores..
                                        </li>
                                        <li><strong>Resultados de caso cerrado:</strong> Exposición de los participantes (feedback de docentes y grupo).
                                        </li>

                                    </ul>
                                    <!-- <div class="flat-tabs">
                                <ul class="menu-tabs">
                                    <li class="active"><a href="#">Business Benefits</a></li>
                                    <li><a href="#">Objectives</a></li>
                                    <li><a href="#">Audience</a></li>
                                    <li><a href="#">Delivery Options</a></li>
                                </ul>
                                <div class="content-tab">
                                    <div class="content-inner">
                                        <ul class="flat-list style1">
                                            <li>Dramatically improve the quality of sales calls by bringing organization-wide consistency and discipline to how sales calls are prepared for, structured, and executed</li>
                                            <li>Drive revenue and business performance by helping increase close ratios for new clients and expand business for existing clients</li>
                                        </ul>
                                    </div>
                                    <div class="content-inner">
                                        <ul class="flat-list style1">
                                            <li>Take the critical attribute in your organization that every salesperson has in common – communication – and add a consultative process, language, and structure for interacting with clients and executing a “more
                                                perfect” sales call</li>
                                            <li>Develop skills in building rapport during sales that encourages clients to more openly and honestly share information about their needs, competitors, pricing, decision criteria, and other information critical
                                                to winning business.</li>
                                            <li>Provide a questioning strategy to more effectively uncover client needs and enable product positioning that is strategic and client-focused</li>
                                            <li>Apply a four-step Model to resolve any objection</li>
                                            <li>More confidently ask for the business</li>
                                        </ul>
                                    </div>
                                    <div class="content-inner">
                                        <p>Similar to all of Cosine’s sales training programs, content for consultative selling training is highly customized to any level, from new to experienced salespeople, their managers, and executive management</p>
                                    </div>
                                    <div class="content-inner">
                                        <p>Available through 1-2 day classroom delivery (Cosine-led or train-the-trainer), online eLearning, one-on-one coaching, or webinar; wide variety of relevant books and support materials to embed and sustain learning
                                            are also available.</p>
                                    </div>
                                </div>
                            </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <%- include('./partials/footer.ejs') %>
    </body>

</html>