<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- head -->
<%- include('./partials/head.ejs') %>


    <body class="header-sticky page-loading">

        <div class="boxed">


            <!-- header -->
            <%- include('./partials/header.ejs') %>


                <div class="flat-row flat-general sidebar-right">
                    <div class="container">
                        <div class="row">
                            <div class="flat-wrapper">
                                <div class="general">
                                    <img src="images/training/d1.jpg" alt="images">
                                    <div class="flat-divider d40px"></div>
                                    <div class="general-text">
                                        <h4 class="title">Líder- Coach Seminario Intensivo.</h4>
                                        <p class="text-center"><strong>Seminario Intensivo LIDER-COACH
                                </strong></p>
                                        <ul class="flat-list style1 style2">
                                            <li>Claves para el empoderamiento organizacional
                                            </li>
                                            <li><strong>Modalidad:</strong> Presencial, INTENSIVA. Aprendizaje experiencial.
                                            </li>
                                            <li>Curso –Taller, con foco en dinámicas de asimilación y prácticas.
                                            </li>
                                            <li><strong>Duración:</strong> 1 (Una) jornada de 6 horas.
                                            </li>
                                            <li><strong>Destinatarios:</strong> Estudiantes, profesionales, líderes, docentes, emprendedores y público en general, y todos aquellos interesados en lograr eficacia en los resultados, motivación y satisfacción
                                                personal, como así también desarrollar habilidades para ser un coach efectivo de los miembros de su equipo..
                                            </li>
                                            <li><strong>Objetivo:</strong>A través de dinámicas de asimilación y con el apoyo teórico y de herramientas del Coaching, Comunicación e Inteligencia emocional, y demás ciencias del desarrollo humano podrás
                                                <ul>
                                                    <li>Identificar el propio estilo de liderazgo y autoliderazgo.</li>
                                                    <li>Conocer nuevas tendencias en el liderazgo coach.</li>
                                                    <li>Ensayar la asimilación de la nueva propuesta con dinámicas prácticas e intervenciones grupales, en relación a los atributos del líder coach y su impacto en la potenciación de las organizaciones.</li>
                                                    <li>Conocer las claves para aumentar la motivación y el compromiso de las personas, tanto a nivel individual como grupal.</li>
                                                </ul>
                                            </li>
                                            <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                            </li>

                                        </ul>
                                        <div class="flat-divider d30px"></div>


                                        <ul class="flat-list style1 style2">
                                            <p><strong>Programa
                                </strong></p>
                                            <li><strong>Liderazgo coach:</strong> aproximación y tendencias.
                                            </li>
                                            <li>del Coaching al liderazgo organizacional y autoliderazgo. </li>
                                            <li><strong>Técnicas de implementación de cambio tradicionales vs. metodologías ágiles:</strong> Beneficios, posibilidades de aplicación.
                                            </li>
                                            <li>Atributos del líder coach.
                                            </li>
                                            <li>Autoridad, valores, serenidad, equilibrio, autenticidad, etc.
                                            </li>
                                            <li>El rol del líder como agente de cambio organizacional.
                                            </li>


                                        </ul>
                                        <!-- <div class="flat-tabs">
                                <ul class="menu-tabs">
                                    <li class="active"><a href="#">Business Benefits</a></li>
                                    <li><a href="#">Objectives</a></li>
                                    <li><a href="#">Audience</a></li>
                                    <li><a href="#">Delivery Options</a></li>
                                </ul>
                                <div class="content-tab">
                                    <div class="content-inner">
                                        <ul class="flat-list style1">
                                            <li>Dramatically improve the quality of sales calls by bringing organization-wide consistency and discipline to how sales calls are prepared for, structured, and executed</li>
                                            <li>Drive revenue and business performance by helping increase close ratios for new clients and expand business for existing clients</li>
                                        </ul>
                                    </div>
                                    <div class="content-inner">
                                        <ul class="flat-list style1">
                                            <li>Take the critical attribute in your organization that every salesperson has in common – communication – and add a consultative process, language, and structure for interacting with clients and executing a “more
                                                perfect” sales call</li>
                                            <li>Develop skills in building rapport during sales that encourages clients to more openly and honestly share information about their needs, competitors, pricing, decision criteria, and other information critical
                                                to winning business.</li>
                                            <li>Provide a questioning strategy to more effectively uncover client needs and enable product positioning that is strategic and client-focused</li>
                                            <li>Apply a four-step Model to resolve any objection</li>
                                            <li>More confidently ask for the business</li>
                                        </ul>
                                    </div>
                                    <div class="content-inner">
                                        <p>Similar to all of Cosine’s sales training programs, content for consultative selling training is highly customized to any level, from new to experienced salespeople, their managers, and executive management</p>
                                    </div>
                                    <div class="content-inner">
                                        <p>Available through 1-2 day classroom delivery (Cosine-led or train-the-trainer), online eLearning, one-on-one coaching, or webinar; wide variety of relevant books and support materials to embed and sustain learning
                                            are also available.</p>
                                    </div>
                                </div>
                            </div> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <%- include('./partials/footer.ejs') %>
    </body>

</html>