<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- head -->
<%- include('./partials/head.ejs') %>

    <body class="header-sticky page-loading">

        <div class="boxed">

            <!-- header -->
            <%- include('./partials/header.ejs') %>


                <div class="flat-row flat-general sidebar-right">
                    <div class="container">
                        <div class="row">
                            <div class="flat-wrapper">
                                <div class="general">
                                    <img src="images/training/d1.jpg" alt="images">
                                    <div class="flat-divider d40px"></div>
                                    <div class="general-text">
                                        <h4 class="title">Entrenamiento Intensivo en Negociación.</h4>
                                        <!-- <p><strong>Seminario- Taller
                                </strong></p> -->
                                        <ul class="flat-list style1 style2">
                                            <li><strong>Duración:</strong> 1 (una) jornada intensiva vivencial de 6 horas
                                            </li>

                                            <li><strong>Destinatarios:</strong> Líderes de equipos de trabajo / Integrantes de equipos de trabajo / Emprendedores / Público en general.
                                            </li>
                                            <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                            </li>
                                            <li>Se entrega certificado</li>
                                        </ul>
                                        <div class="flat-divider d30px"></div>
                                        <p><strong>Objetivos</strong></p>

                                        <ul class="flat-list style1 style2">
                                            <li><strong>Que los participantes: </strong>
                                                <ul>
                                                    <li>Conozcan e incorporen las herramientas básicas de negociación.</li>
                                                    <li>Puedan conocer sus perfiles de negociador para interactuar con los demás.</li>
                                                    <li>Puedan aplicar la escucha activa como base de toda negociación logrando empatía.</li>
                                                    <li>Sean capaces de aprovechar las oportunidades de negociación y mejorar su situación.</li>
                                                    <li>Se lleven ya un principio de resolución sobre las negociaciones que les resultan más complicadas.</li>
                                                </ul>
                                            </li>
                                            <li><strong>Ejes del taller: </strong>
                                                <ul>
                                                    <li>Herramientas básicas de negociación.</li>
                                                    <li>Tipos de negociador: perfiles propios y de los otros, cómo son y cómo tratarlos.</li>
                                                    <li>Tipos de pensadores para establecer conversaciones efectivas.</li>
                                                    <li>Situaciones de negociación: estrategias para mejorar.</li>
                                                    <li>Técnicas para lograr la cooperación.</li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <%- include('./partials/footer.ejs') %>
    </body>

</html>