<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- head -->
<%- include('./partials/head.ejs') %>


    <body class="header-sticky page-loading">


        <div class="boxed">

            <!-- header -->
            <%- include('./partials/header.ejs') %>

                <div class="flat-row flat-general sidebar-right">
                    <div class="container">
                        <div class="row">
                            <div class="flat-wrapper">
                                <div class="general">
                                    <img src="images/training/d1.jpg" alt="images">
                                    <div class="flat-divider d40px"></div>
                                    <div class="general-text">
                                        <h4 class="title">Neuromarketing.</h4>
                                        <p><strong>Aportes de las neurociencias a la gestión del marketing y las ventas 
                                </strong></p>
                                        <ul class="flat-list style1 style2">
                                            <li><strong>Duración:</strong> 2 (dos) jornadas de 3.
                                            </li>
                                            <li><strong>Destinatarios:</strong> interesados en la temática.
                                            </li>
                                            <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                            </li>

                                        </ul>
                                        <div class="flat-divider d30px"></div>
                                        <p><strong>Fundamentación</strong></p>
                                        <p>¿Tomamos decisiones racionales de compra? ¿Es lo mismo ofrecer un producto a un hombre o una mujer? Deciden y procesan la información de igual manera? ¿Percibimos siempre lo mismo acerca de una marca?.</p>

                                        <p>Hasta hace poco tiempo, era difícil examinar en profundidad los mecanismos que determinan el comportamiento y la toma de decisiones del consumidor. En la actualidad, los avances en el conocimiento del cerebro abren
                                            un enorme campo de aplicaciones para el marketing, las ventas, y los procesos de negociación.</p>

                                        <p>Hoy en día, y gracias al aporte de las neurociencias, se ha puesto de manifiesto que el cerebro toma decisiones comerciales de una forma muy simple, sea por el Si o por el No. Existe una sistema que se activa de
                                            acuerdo a lo que la persona considera como recompensa, inclinándonos por decir Si, y otro, totalmente opuesto, donde el No se da por la percepción de perdida que ese sujeto considera en relación al estímulo
                                            que se le presenta.</p>

                                        <p>Conocer y comprender como funciona el cerebro a la hora de decidir por un producto o servicio es clave para tener una verdadera eficacia en la metodología de ventas que cada uno lleva a cabo. A su vez, las estrategias
                                            impartidas desde el marketing se redefinirán en base al conocimiento sobre las diferencias de neurogenero que existen, potenciando las probabilidades y posibilidades de que el consumidor hombre o mujer opte
                                            por lo que se le está ofertando.
                                        </p>
                                        <p>Emoción, empatía, necesidades, deseos, percepción, son otros de los conceptos provenientes de las investigaciones neurocientíficas, que aportan valor agregado a la ideación de las variables de marketing y ventas
                                            que antes no se tenían en cuenta con tanta asertividad. Identificar las sensaciones y emociones que subyacen en cada persona que elige tal producto, permite perfeccionar los constructos discursivos y de experiencias
                                            que se le acercan y proponen a cada consumidor, para facilitar de esta manera la toma de decisiones y fidelización correspondiente.</p>
                                        <p>Pasar del marketing a neuromarketing implica un salto cualitativo en pos de una mejora en la gestión de la comercialización y del éxito en el posicionamiento de mi servicio o producto.</p>
                                    </div>
                                    <div class="flat-divider d35px"></div>

                                    <ul class="flat-list style1 style2">
                                        <p><strong>OBJETIVOS GENERALES
                                </strong></p>
                                        <li>Conocer los aportes de las Neurociencias al ámbito del marketing y las ventas.</li>
                                        <li>Conocer y comprender como funciona el cerebro en los procesos vinculados a la toma de decisiones comerciales.</li>

                                    </ul>
                                    <ul class="flat-list style1 style2">
                                        <p><strong>OBJETIVOS ESPECÍFICOS
                                </strong></p>
                                        <li>Conocer las estructuras cerebrales que están implicadas en las sensaciones, emociones y el pensamiento racional y su relación con la toma de decisiones comerciales.</li>
                                        <li>Conocer y comprender las Neurodiferencias de Genero entre el hombre y la mujer.</li>
                                        <li>Conocer y comprender el sistema de recompensa cerebral “SI” y el sistema de aversión a la perdida “NO”.</li>
                                        <li>Incorporar recursos provenientes de las neurociencias para potenciar las ventas.</li>
                                        <li>Aprender a identificar necesidades y deseos cerebrales de los clientes.</li>
                                    </ul>
                                    <div class="flat-divider d30px"></div>
                                    <p><strong>METODOLOGÍA DE TRABAJO</strong></p>
                                    <p>A través de un espacio de formación, se instruirán a los participantes sobre conceptos provenientes de la neurociencia y su influencia en las decisiones del consumidor, sus deseos y necesidades comerciales, el procesamiento
                                        de la información en ambos géneros, y algunas técnicas para potenciar las ventas.</p>

                                    <p>Además de impartir conocimientos, se realizaran ejercicios de entrenamiento neurocognitivo con determinados fines, que apuntan a la atención, concentración, funciones ejecutivas y creatividad.</p>

                                    <div class="flat-divider d30px"></div>
                                    <p><strong>ESPECIFICACIÓN DE LOS CONTENIDOS A TRABAJAR</strong></p>
                                    <p>Cerebro. Estructura y funciones. Cerebro instintivo, emocional y racional. Características funcionales de los Hemisferios y lóbulos cerebrales. Neurodiferencias entre el hombre y la mujer. Neuroplasticidad. Toma de
                                        decisiones comerciales. Emoción y razón a la hora de decidir. Sistema de recompensa cerebral. Sistema de aversión a la pérdida. El efecto Google. Atención, memoria y motivación. El producto como construcción cerebral.
                                        Necesidades Genéricas y Necesidades derivadas. Crisis, deseos y demandas cerebrales.</p>




                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <%- include('./partials/footer.ejs') %>
    </body>

</html>