<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- head -->
<%- include('./partials/head.ejs') %>


    <body class="header-sticky page-loading">

        <div class="boxed">
            <!-- header -->
            <%- include('./partials/header.ejs') %>


                <div class="flat-row flat-general sidebar-right">
                    <div class="container">
                        <div class="row">
                            <div class="flat-wrapper">
                                <div class="general">
                                    <img src="images/training/d1.jpg" alt="images">
                                    <div class="flat-divider d40px"></div>
                                    <div class="general-text">
                                        <h4 class="title">Programa de Desarrollo de Habilidades y Competencias Estratégicas Directivas.
                                        </h4>
                                        <p><strong>Entrenamiento de vanguardia a través de un programa innovador, con el apoyo
                                        de un equipo de profesionales con trayectoria y reconocidos a nivel provincial,
                                        nacional e internacional.
                                    </strong></p>
                                        <ul class="flat-list style1 style2">
                                            <li><strong>Duración:</strong> 60 horas
                                            </li>
                                            <li><strong>Destinatarios:</strong> Empresarios. Profesionales. Directivos. Mandos medios. Emprendedores. Funcionarios. Personas con interés en ocupar lugares de referencia.
                                            </li>
                                            <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                            </li>

                                        </ul>
                                        <div class="flat-divider d30px"></div>
                                        <!-- <p><strong>Fundamentación</strong></p> -->
                                        <p>Los constantes cambios tecnológicos y socioeconómicos están sacudiendo el mundo. Las industrias se están adaptando a lo que el Foro Económico Mundial llama, “La Cuarta Revolución Industrial” que se traducen en avances
                                            tecnológicos en la medicina, la inteligencia artificial y la industria; están haciendo que las organizaciones a cambien; creando, de este modo, la introducción de nuevos puestos de trabajo y la eliminación de
                                            los antiguos.
                                        </p>
                                        <p>Estamos avanzando a un ritmo tan rápido, que cuando lleguemos al 2020, habrá un aumento modesto en las oportunidades de trabajo. Sin embargo, este aumento también significa que habrá un cambio dramático en lo que
                                            buscan los empleadores en los empleados.</p>
                                        <p>¿Cuál será el futuro de los empleos y las competencias? En el programa: Habilidades y Competencias Estratégico Directivas abordaremos diferentes capacidades que serán necesarias e importantes para el mundo del trabajo.</p>

                                    </div>
                                    <div class="flat-divider d35px"></div>
                                    <!-- <ul class="flat-list style1 style2">
                                        <p><strong>Modulos:
                                        </strong></p>
                                        <li><strong>Duración:</strong> 60 horas
                                        </li>
                                        <li><strong>Destinatarios:</strong> Empresarios. Profesionales. Directivos. Mandos medios. Emprendedores. Funcionarios. Personas con interés en ocupar lugares de referencia.
                                        </li>
                                        <li><strong>Equipo Académico:</strong> Jose Eugenio Peralta.
                                        </li>
                                        <li></li>
                                    </ul> -->
                                    <ul class="flat-list style1 style2">
                                        <p><strong>Objetivos:
                                    </strong></p>
                                        <li>Incorporar distinciones estratégicas
                                        </li>
                                        <li>Co-diseñar un modelo estratégico de perfil ejecutivo, identificando factores claves de éxito para consolidarlos en planes de desarrollo.</li>
                                        <li><strong>Técnicas de implementación de cambio tradicionales vs. metodologías
                                        ágiles:</strong> Beneficios, posibilidades de aplicación.
                                        </li>
                                        <li><strong>Incorporar, desarrollar y aplicar habilidades estratégicas directivas.
                                        Adaptar los principios al estilo personal.
                                </li>
                                <li>Trasladar el aprendizaje a situaciones de la vida organizacional.
                                </li>

                            </ul>
                            <div class="flat-divider d30px"></div>
                            <p><strong>Metodología</strong></p>
                                            <p>Capacitaciones vivenciales con método analítico e interactivo. El proceso de enseñanza- aprendizaje se concibe como una co-construcción participativa, cuyo protagonista es el asistente, quien diseña sus pasos
                                                y procesos de progreso con la mentoría.
                                            </p>
                                            <ul class="flat-list style1 style2">
                                                <p><strong>Equipo Académico:
                                                 </strong></p>
                                                <li><strong>Mentor y director:</strong> Ing. José Eugenio Peralta
                                                    <ul>
                                                        <li>Gerente comercial de Grupo Mageo, Gerente de regional Multiplanet, S.A., Fundador del Grupo Todo Terreno, Fundador de A otro Nivel Latinoamerica.</li>
                                                        <li>Actualmente José desarrolla su trabajo profesional como experto en mentoría de proyectos, programas de entrenamiento profesional in company y coaching ejecutivo. Además es docente y director de programas
                                                            de formación en gestión empresarial.</li>
                                                        <li>Consultor en Neuromarketing – Neuromanagement.</li>
                                                        <li>Especialista en Neurociencias Cognitivas, Creatividad e Innovación | Experto en Counseling.</li>
                                                        <li>Consultor Internacional de Empresas Familiares. Especialista en Prevención de Conflictos. Speaker en Congresos y Encuentros de Motivación, Liderazgo y Emprendedorismo. en Argentina y Santiago de
                                                            Chile. Maestria en PNL (Programación Neurolinguistica) y Coaching ontológico</li>
                                                        <li>Gestión y Dirección de Proyectos, Especialista en Project Management, Cuenta con 5 años de experiencia en Project Management, liderando proyectos y equipos de trabajo multidisciplinarios,</li>
                                                        <li>Especialidades: Gestión estratégica. Gestión de proyectos. Aseguramiento de la calidad. Conducción de equipos interdisciplinarios. Gestión por procesos.</li>
                                                    </ul>
                                                </li>


                                            </ul>
                                            <ul class="flat-list style1 style2">
                                                <p><strong>Requerimientos y Tiempos:
                                    </strong></p>
                                                <li>Compromiso y disposición para con el proceso. Encuentros de frecuencia semanal cuya duración se estima en 3 hs reloj.
                                                </li>
                                                <br><br>
                                                <li><strong>Importante:</strong> Para adquirir la certificación correspondiente, el alumno deberá cumplir con el 80% de asistencia, los requisitos académicos y administrativos de la capacitación
                                                </li>


                                            </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <%- include('./partials/footer.ejs') %>
    </body>

</html>